Film Web Scraping:
Il codice fornito esegue un esercizio di web scraping per ottenere recensioni di film dal sito "IMDb" e filtrare i risultati per anno.
Inoltre, fornisce un'interfaccia nel terminale per interagire con l'utente e visualizzare i risultati filtrati.
Requirements:
-Incolla i file "main.py" e "scraper.py" nel tuo Editor di testo
-Salvali entrambi nella stessa cartella 
-Crea un ambiente virtuale:
Nel terminale, esegui python3 -m venv .venvper creare un nuovo ambiente virtuale in una directory denominata .ve
-Attiva l'ambiente virtuale:
Su Linux, esegui source .venv/bin/activateper per attivare l'ambiente virtuale.
-Assicurati di installare i moduli con i seguenti comandi nel terminale:
pip install requests
pip install beautifulsoup4 
-Avvia il codice nel terminale con il comando "python main.py".
